/*Utils styles*/
@import "./utils/_variables.scss";
@import "./utils/_visually-hidden.scss";
@import "./utils/_placeholders.scss";

/*Base styles*/
@import "./base/_common.scss";
@import "./base/_reset.scss";

/*Components styles*/
@import "./components/_buttons.scss";
@import "./components/_container.scss";
@import "./components/_titles.scss";
@import "./components/_logo.scss";
@import "./components/_socials.scss";
@import "./components/_backdrop.scss";
@import "./components/_modal.scss";
@import "./components/_close-btn.scss";
@import "./components/_checkbox.scss";
@import "./components/_subscription-form.scss";
@import "./components/_filter.scss";
@import "./components/_overlay.scss";

/*Leyouts styles*/
@import "./layouts/_header.scss";
@import "./layouts/_hero.scss";
@import "./layouts/_benefits.scss";
@import "./layouts/_service.scss";
@import "./layouts/_team.scss";
@import "./layouts/_clients.scss";
@import "./layouts/_footer.scss";
@import "./layouts/_portfolio.scss";