.btn {
    filter: none;
    border: none;
    cursor: pointer;
  }
  
  .main-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    filter: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--main-light-cl);
    background-color: var(--acent-color);
  
    transition: background-color var(--anim-slow);

    &--blackout:hover,
    &--blackout:focus {
    background-color: #188ce8;
    }
  }
  
  