.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    min-width: 528px;
    min-height: 581px;
  
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
  
.modal-form__title {
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}
  
.modal-form__txt {
    margin-bottom: 4px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: var(--txt-light-cl);
}
  
.modal-form__item {
    position: relative;
    margin-bottom: 10px;
    width: 448px;
    min-height: 58px;
}
  
.modal-form__field {
    padding-left: 42px;
    padding-right: 5px;
    width: 100%;
    height: 40px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
  
    transition: border-color var(--anim-slow);

    &:hover,
    &:focus {
    border-color: var(--acent-color);
    cursor: pointer;
    }

    &:hover + .modal-form__box .modal-form__icon,
    &:focus + .modal-form__box .modal-form__icon {
    fill: var(--acent-color);
    }
}
  
.modal-form__box {
    position: absolute;
    top: 29px;
    right: 13px;
    bottom: 12px;
    left: 12px;
    z-index: -1;
  
    width: 18px;
    height: 18px;
}
  
.modal-form__icon {
    fill: #212121;
    transition: fill var(--anim-slow);
}
  
.modal-form__massage {
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
  
    transition: border-color var(--anim-slow);

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
      
        color: rgba(117, 117, 117, 0.5);
    }

    &:hover,
    &:focus {
    border-color: var(--acent-color);
    cursor: pointer;
    }
}
  
.modal__btn-box {
    display: flex;
    justify-content: center;
}