body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--txt-cl);
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
  }

  .link {
    text-decoration: none;
  }
  
  .list {
    list-style-type: none;
  }

 