:root {
  /*Colors*/
  --acent-color: #2196f3;
  --main-light-cl: #ffffff;
  --main-dark-cl: #2f303a;
  
  /*Text*/
  --txt-cl: #212121;
  --txt-light-cl: #757575;
  
  /*Animation*/
  --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}