/*Benefits*/
.benefits {
  @extend %section;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__wraper {
        display: flex;
        justify-content: center;
        align-items: center;
      
        width: 450px;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;

        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
  }
}
  
.benefits__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}
  
.benefits__item {
    width: 450px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
  
.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}
  
.benefits__txt {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-light-cl);
}