/*Footer*/
.footer {
    background-color: var(--main-dark-cl);

    &__wraper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      padding: 60px 0;
    
      @media screen and (min-width: 768px) {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
  
      @media screen and (min-width: 1200px) {
        justify-content: center;
        align-items: flex-start;
      }
    }
}

.footer__contacts {  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-right: 10px;
    }
}
  
.footer--logo {
    color: var(--main-light-cl);
    display: block;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: 1200px) {
        gap: 9px;
        align-items: flex-start;
    }
}
  
.footer__adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-light-cl);
    font-style: normal;
    text-align: center;
  
    transition: color var(--anim-slow);

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}
  
.footer__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-align: center;
  
    transition: color var(--anim-slow);

    &:hover,
    &:focus {
    color: var(--acent-color);
    } 
}

.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-right: 33px;
    }   
}
 
.footer__call {
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  
    background-color: rgba(225, 225, 225, 10%);
    border-radius: 50%;
  
    transition: background-color var(--anim-slow);

    &:hover,
    &:focus {
    background-color: var(--acent-color);
    }
}
  
.footer__icon {
    fill: #ffffff;
}

.footer__subtitle {
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }  
}